.ChatMessages {
    padding: 20px;
}

.ChatMessages > li {
    display: flex;
    margin-bottom: 10px;
}

.ChatMessages > li > div:first-child {
    width: 50px;
    flex-shrink: 0;
}

.ChatMessages > li > div:nth-child(2) {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.ChatMessages .Message {
    color: rgb(250, 250, 250);
}

.ChatMessages .Time {
    flex-shrink: 0;
}

.ChatMessages .ChatName {
    margin-bottom: 3px;
}
